body {
    background-color: #13131B;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.fundo {
    background-color: #13131B;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 0 20px 0 20px;
}

.title {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 12px;
}

.title h2 {
    font-size: 36px;
    font-weight: 600;
}

.title p {
    font-size: 20px;
    font-weight: 600;
}

.title .user-info {
    display: flex;
    align-self: center;
}

.user-info h2 {
    display: flex;
    background-color: #F7B608;
    border-radius: 20px;
    padding-top: 10px;
    width: 4rem;
    height: 3.5rem;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
}

.user-info h3 {
    align-self: center;
    font-weight: bold;
    font-size: 32px;
    margin-left: 10px;
}

.filter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.filter .search {
    font-size: 16px;
    color: #FFF;
    border-radius: 20px;
    height: 48px;
    width: 30vw;
    background-color: #1C1C26;
    padding-left: 10px;
}

.filter #date {
    height: 48px;
    width: 12vw;
    background-color: #1C1C26;
    margin-right: 20px;
    color: #fff;
    border-radius: 20px;
    padding-left: 10px;
    font-weight: 600;
}

.filter .search::-webkit-input-placeholder {
    color: #fff;
    font-weight: 600;
}

.filter input[type="date"]::-webkit-calendar-picker-indicator {
    color: #fff;
    filter: invert(1);
    font-size: 20px;
    margin-right: 5px;
}

.filter button {
    height: 48px;
    width: 12vw;
    background-color: #1C1C26;
    margin-right: 20px;
    color: #fff;
    border-radius: 20px;
    padding-left: 10px;
    font-weight: 600;
}

.data-container {
    background-color: #1C1C26;
    /* margin: 20px 20px 0 20px; */
    padding: 20px 20px 0 20px;
    height: 28rem;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 20px;
}

.data-container .table th {
    color: #fff;
    text-align: center;
}

.data-container .switch {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 34px;
}

.data-container .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.data-container .switch .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9BBBFD;
    -webkit-transition: .4s;
    transition: .4s;
}

.data-container .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #3677FE;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.data-container input:checked + .slider {
    background-color: #EF9B9B;
}

.data-container input:focus + .slider {
    box-shadow: 0 0 1px #EF9B9B;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #F10707;
}

.slider .checked:before{
    background-color: #EF9B9B;
}

.details {
    color: #FFFF;
    padding-right: 10px;
}

.details:hover{
    color: #9BBBFD;
}