{% load static %}
{% load bootstrap4 %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Security</title>
    {% bootstrap_css %}
</head>

<body>
    <div class="vh-100" id="fundo" style="background-color: #13131B; height: max-content;">
        <div class="title">
            <div>
                <h2>Welcome to Dashboard</h2>
                <p>Log visualization interface</p>
            </div>
            <div class="user-info">
                <h2>RS</h2>
                <h3>Ronnildo</h3>
            </div>
        </div>

        
        {% block content%} {% endblock %}
    </div>

    {% bootstrap_javascript jquery='full' %}
</body>

</html>