{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load bootstrap_icons %}

{% block content %}

<!-- Filters -->
{% include 'filters.html' %}
<!-- End Filters -->

<!-- Table -->
{% include 'infos.html' %}
<!-- End Table -->
{% endblock %}



<!-- <div class="paginacao">
            <div class="total-pages">
                <p>Pages 1 - 10 of 10 results </p>
            </div>
            <nav class="lista" aria-label="Next Logs">
                <ul class="pagination  justify-content-end">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div> -->