{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <title>Login Page</title>
    {% bootstrap_css %}
</head>

<body>
    <div class="fundo">
        <div class="container-login">
            <h1 class="title">Sing In</h1>
            {% bootstrap_messages %}
            <form action="{% url 'home' %}" method="post" class="form-singin" autocomplete="off">
                {% csrf_token %}
                <div>
                    <input type="email" class="form-control" placeholder="E-mail" required>
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="Password" required>
                </div>
                <div>
                    <a href="#" class="reset">Reset password?</a>
                </div>
                {% buttons %}
                    <button type="submit" class="singIn form-singin">Sing In</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>

</html>